name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - variant: mac_onishi
          - variant: mac_qwerty
          - variant: win_onishi
          - variant: win_qwerty
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      config_path: config/${{ matrix.variant }}
      build_matrix_path: config/${{ matrix.variant }}/build.yaml
      archive_name: toucan_${{ matrix.variant }}
